<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
  
<Configuration>
  
  <Appenders>
  
      <RollingFile 	name="tnt" 
      				fileName="/test_logs/test_latest.log"
                 	filePattern="/test_logs/tnt-%d{MM-dd-yyyy}-%i.log">
      
      	  <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
	      <Policies>
	        <TimeBasedTriggeringPolicy />
	        <SizeBasedTriggeringPolicy size="1 MB"/>
	      </Policies>
	      
      </RollingFile>
    
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
    </Console>
    
  </Appenders>
  
  <Loggers>
    <Root level="info">
      <AppenderRef ref="tnt"/>
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
  
</Configuration>